<article class="container">
	<div class="card mb-4 shadow">
		<div class="row g-0">
			<div class="col-md-3">
				<img aria-label="event_img" src="" alt="Artist image" class="w-100 artist-image shadow-sm">
			</div>
			<div class="col-md-8">
				<div class="card-body mb-5 clearfix">
					<div class="card-title lead fw-bolder pb-1 border-bottom">
						<span aria-label="event_artist_name" class="me-md-3 d-block d-md-inline fs-4 ps-1"></span>
						<span aria-label="event_place"></span>
						<span class="me-1">,</span>
						<span class="font-monospace" aria-label="event_date"></span>
					</div>
					<em aria-label="artist_description" class="card-text"></em>
					<p aria-label="event_description" class="card-text pt-3"></p>
					<a aria-label="buy_button" href="" class="btn btn-lg btn-danger bg-gradient float-end me-4">Придбати квиток</a>
				</div>
			</div>
		</div>
	</div>
</article>
